<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="EduWork">
    <meta name="description" content="EduWork">
    <title>EduWork老师评价</title>
    <link rel="stylesheet" href="__WEUI__/weui.min.css">
    <style>
        .weui-cells{
            margin-top:0px;
        }
        #middle{
            height:30px;
            background-color: #C6C6C6;
        }
        h3{
           border:1px solid #f0f0f0;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
<div id="noticeManage">
    {if($backs)}
    <article class="weui-article">
        <h1>老师评价</h1>
        <section>
            {volist name='backs' id='back'}
            <section>
                <h3>{$back.teacher_name}：{$back.feedback_time}</h3>
                <p>
                    {$back.feedback_content}
                </p>
            </section>
            {/volist}
        </section>
    </article>
    {else}
    <article class="weui-article">
        <h1>暂无评价</h1>
    </article>
    {/if}
</div>
</body>
</html>