<div class="box-content">
<form class="form-horizontal bv-form"  role="form"  id="addForm">
    <fieldset> <div class="form-group">
        <label class="col-sm-3 control-label">科目</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="subject_name" value="">
        </div>
    </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="subject_remark" value="">
            </div>
        </div>
    </fieldset>
</form>
</div>


