<div class="box-content">
    <link rel="stylesheet" type="text/css" href="static/css/timepicki.css"/>
    <form class="form-horizontal bv-form"  role="form"   id="addForm">
        <script src="static/js/timepicki.js"></script>


        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">事件时间</label>
                <div class="col-sm-5">
                    <input type="text" id="time" class="form-control" name="time" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">内容</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="event" value=""/>
                </div>
            </div>



        </fieldset>
    </form>
</div>
<script>
    $("#time").timepicki();
    setTimeout(function(){
        flag=0;
    },420);
</script>