<link href="static/plugins/bootstarp-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<style>
    .panel-header, .panel-body {
        border-width: 0px;
    }

    .datagrid, .combo-p {
        border: solid 1px #D4D4D4;
    }

    .panel-title {
        cursor: pointer
    }

    .inlineblock {
        margin-top: 10px;
    }

    .inlineblock div {
        display: inline-block;
    }

    .inlineblock div label {
        display: inline-block;
        top: 5px;
    }

    .newform {
        width: 70%;
    }

    .editform {
        width: 70%;
    }

    .searchClass {
        margin-left: 5%;
        margin-top: 1%;
    }

    .searchClass label {
        width: 6%;
        font-weight: bold;
    }
    .searchClass input {
        margin-right:50px;
    }
    #Search {
        float: right;
        margin-right: 4%;
        width: 14%;
    }
</style>
<div class="row">
    <div id="breadcrumb" class="col-xs-12" style="margin-bottom: 10px">
        <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">校区管理</a></li>
            <li><a href="#">校长管理</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-clipboard"></i> <span>校长管理</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                    </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                </a> <a class="close-link"> <i class="fa fa-times"></i>
                </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content table-responsive" style="padding-top: 15px">

                <div class="panel panel-default" style="border: 1px solid #CCC; height: auto;">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseForAdd">
                            功能面板 <span class="fa fa-chevron-down" style="float: right"></span>
                        </h4>
                    </div>

                    <div id="collapseForAdd" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="container-fluid" style="margin-top: 10px;">
                                <!--操作-->
                                <div id="operationpanel" class="col-xs-12" style="overflow: hidden;">
                                    <div class="col-xs-12 btn-menu-top-minus" style="margin-top:0;">
                                        <button class="btn btn-primary btn-sm addbook">
                                            <i class="fa fa-file-o"></i> 添加
                                        </button>
                                        <button class="btn btn-primary btn-sm editbook">
                                            <i class="fa fa-file-text"></i> 修改
                                        </button>
                                        <button class="btn btn-danger btn-sm removebook">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--主信息面板 S-->
                <div class="panel panel-default" style="border: 1px solid #CCC;">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseForCourseTable">
                            校长基础信息<span class="fa fa-chevron-down" style="float: right"></span>
                        </h4>
                    </div>
                    <div id="collapseForCourseTable" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body" style="overflow: hidden;">
                            <!--搜索区域-->
                            <div class="searchClass row">
                                <div class="col-xs-12">
                                    <label>名字</label>
                                    <input class="SearchForm form-control" type="text" id="name"/>
                                    <label>电话</label>
                                    <input class="SearchForm form-control" type="text" id="phone"/>

                                </div>
                            </div>
                            <div class="searchClass row">
                                <div class="col-xs-12">
                                    <label>邮箱地址</label>
                                    <input class="SearchForm form-control" type="text" id="mail"/>
                                    <label>注册时间</label>
                                    <input class="SearchForm form-control" type="text" id="regtime" readonly/>
                                    {eq name='user' value='0'}
                                    <label>所在校区</label>
                                    <select class="SearchForm form-control" id="campusid" style="height: 33px;">
                                        <option value="">请选择校区</option>
                                        {volist name='campus' id='campu'}
                                        <option value="{$campu.id}">{$campu.campus_name}</option>
                                        {/volist}
                                    </select>
                                    {/eq}
                                    <button id="Search" class="btn btn-primary btn-xs" style="height: 30px">搜索</button>
                                </div>
                            </div>
                        </div>
                        <table id="datatable_admininfo" data-size="15" style="width: 100%">
                        </table>
                    </div>
                </div>
                <!--主信息面板 E-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.getScript("static/plugins/bootstarp-datepicker/js/bootstrap-datepicker.min.js", function () {
            $.getScript("static/js/ajax/admin.js");
        })
    });

</script>