<style>
    .row1{
        margin-bottom:10px;
    }
    label{
        text-align: center;
    }
</style>
<div id="studentGoManage">
    <form id="password">
        <input type="hidden" name="id" value="{$admin.id}">
    <div class="row row1">
        <label class="col-sm-5 control-label">旧密码：</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="oldPassword" value="">
        </div>
    </div>
    <div class="row row1">
        <label class="col-sm-5 control-label">新密码：</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="password" id="onePass">
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 control-label">确认新密码：</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="surePassword" id="twoPass">
        </div>
    </div>
</form>
</div>
