        <style>
            .row1{
                margin-top:10px;
            }
            label{
                text-align: center;
            }
        </style>
        <div id="studentGoManage">

            <div class="row row1">
                <label class="col-sm-5 control-label">姓名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" disabled value="{$admin.name}">
                </div>
            </div>
            <div class="row row1">
                <label class="col-sm-5 control-label">电话</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" disabled value="{$admin.phone}">
                </div>
            </div>
            <div class="row row1">
                <label class="col-sm-5 control-label">邮箱</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" disabled value="{$admin.mail}">
                </div>
            </div>
            <div class="row row1">
                <label class="col-sm-5 control-label">注册时间</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" disabled value="{$admin.regtime}">
                </div>
            </div>

        </div>

