<!DOCType html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MakcooEdu</title>
        <meta name="Keywords"
              content="Makcoo机器人教育后台管理系统" />
        <meta name="Description"
              content="对学生信息管理，学生评价，集各项优质管理于一身的Makcoo机器人教育管理系统" />

        <!--[if lt IE 9]>
          <script src="style/js/html5shiv.js" type="text/javascript"></script>
        <![endif]-->
	
		<link rel="alternate icon" type="image/png" href="static/img/favicon.png">
        <link href="__PLUGINS__/style/css/member.css" rel="stylesheet" type="text/css" />
        <link href="__PLUGINS__/style/css/common.css" rel="stylesheet" type="text/css" />
        <link href="__PLUGINS__/style/css/login.css" rel="stylesheet" type="text/css" /> 
        <!-- <link href="style/css/login01.css" rel="stylesheet" type="text/css" /> -->
        <link href="__PLUGINS__/style/css/yangcong.css" rel="stylesheet" type="text/css" />
        <!-- <link href="http://www.xinnet.com/views/privilegeRegister/javascript/Z-UI/skin/hyzx/hyzx.css"
                type="text/css" rel="stylesheet" />  -->
     
        <script type="text/javascript">

            //定义ctx变量，供js脚本使用
            var jsCtx = '';
            var loginId = '';


            var jsEmail = '';

            var errorMsg = "";
        </script>

        <script type="text/javascript" src="__PLUGINS__/style/js/jquery.js"></script>
        <script type="text/javascript" src="__JS__/browserKernel.js"></script>

        <style type="text/css">
            .input-focus{color: #333;border-color: #fdbaba;font-size: 14px;}
            .input-finish{color: #333;border-color: #ccc;}
            #error4 {
                position: absolute;
                left: 70px;
                whide: 250px;
                top: 85px;
            }

            #oldUserNameError {
                position: absolute;
                left: 415px;
                top: 175px;
                whide: 150px;
            }

            #oldUserEmailError {
                position: absolute;
                left: 415px;
                top: 230px;
                whide: 150px;
            }

            #oldUserPwdError {
                position: absolute;
                left: 415px;
                top: 285px;
                whide: 150px;
            }

            #oldUserRandError {
                position: absolute;
                left: 163px;
                top: 312px;
                whide: 150px;
            }
        </style>

    </head>
    <body id="cas">
        <div id="container">

            <div id="content">

                <script type="text/javascript">
            var hasError = "";//临时变量，存储错误信息；
            var verification = ""; //临时变量，标记是否开启动态口令
                </script>


                <div class="header-bg">
                    <div class="header">
                        <a class="logo" href=""></a> <span class="red-line"></span> <span class="wel">管理员登陆</span>
                    </div>
                </div>

                <div class="main-bg">
                    <div class="main">
                        <a href="" target="_blank" class="main-left"><img src="__PLUGINS__/style/images/abc.jpg"></a>
                        <div class="right">
                            <form   method="post">
                                <input type="hidden" name="lt" value="LT-890168-XSSXIRLns4vQJzfvDkHQqBMpr5XIHW" />
                                <input type="hidden" name="execution" value="e1s1" />
                                <input type="hidden" name="_eventId" value="submit" />
                                <div class="con-01">
                                    <h3 class="title" style="font-size: 15px; color: #666; padding: 18px 0 0 29px;">账号密码登录</h3>
                                </div>
                                <div class="con-02" id="loginModal" >
                                    <input class="input-common account" id="loginUserName" name="username" type="text" placeholder="请输入账号" /><!-- onFocus="hidenErrorTip();" onBlur="checkUserName()" -->
                                          
										   

                                    <div class="div-01" >
                                        <input type="hidden" id="state" value="" /> <input type="hidden" id="errortime" value="" /> <input
                                            class="input-common password" type="password" id="loginPassWord" name="password" placeholder="请输入密码"  /> 
                                        <div class="remind" id="remind" >
                                            <div style="height:15px;"></div>
                                            <span class="common-error" id="errorTipMsg" style="color: red; font-size: 11px;display:none; "><i class="icon"></i>密码或者账户错误，请重新输入!</span>
                                        </div>
                                        <div class="remind" id="nulln" style="display:none;">
                                            <div style="height:15px;"></div>
                                            <span class="common-error" id="nullname" style="color: red; font-size: 11px; "><i class="icon"></i>账户未填写!</span>
                                        </div>
                                        <div class="remind" id="nullp" style="display:none;">
                                            <div style="height:15px;"></div>
                                            <span class="common-error" id="nullpass" style="color: red; font-size: 11px; "><i class="icon"></i>密码未填写!</span>
                                        </div>
                                    </div>



                                    <div class="remind" id="remind" style="display: none;">
                                        <span class="common-error" id="errorTipMsg" style="color: red; font-size: 11px"></span>
                                    </div>

                                    <div class="div-01">
                                        <a class="btn-common" id="loginButton" href="javascript:void(0);" onclick="loginSubmit();"> 
                                            登录
                                        </a>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>




            </div> <!-- END #content -->

            <!--footer begin -->
            <div class="footer">
<!--                <p class="footer-p">
                    <a href="http://www.Eduwork.cc" target="_blank">关于我们</a><span>|</span>
                    <a href="http://www.Eduwork.cc" target="_blank">新闻中心</a><span>|</span>
                    <a href="http://www.Eduwork.cc" target="_blank">资质荣誉</a><span>|</span>
                    <a href="http://www.Eduwork.cc" target="_blank">网站地图</a><span>|</span>
                    <a href="http://www.Eduwork.cc" target="_blank">友情链接</a><span>|</span>
                    <a href="http://www.Eduwork.cc" target="_blank">联系我们</a>
                </p>
                <p class="footer-bq">
                   
                    Copyright©2015-2016
                    南京悠珀网络科技有限公司 版权所有
                </p>-->
            </div>
            <!--footer end -->


        </div> 
        <script type="text/javascript" src="__PLUGINS__/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="__PLUGINS__/bootstrap/bootstrap.min.js"></script>
        <script src="__PLUGINS__/nprogress/nprogress.min.js"></script>
        <script type="text/javascript" src="__PLUGINS__/bootstrap-switch/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="__JS__/TeachDialog.js"></script>
        <script type="text/javascript" src="__JS__/index.js"></script>
    </body>
</html>

