<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="EduWork">
        <meta name="description" content="EduWork">
        <title>EduWork老师端</title>
        <link rel="stylesheet" href="__APP__/css/weui.min.css">
        <style>
            .weui-cells{
                border-top:5px;

            }
            .weui-btn{
                height:35px;
                font-size:18px;
                line-height:35px;
                width:290px;
            }

        </style>
    </head>
    <body ontouchstart>

        <div id="container" >

           <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">公告列表</div>
                <div class="weui-panel__bd">
                    {volist name='notices' id='notice'}
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">{$notice.title}</h4>
                        <p class="weui-media-box__desc">{$notice.contents}</p>
                    </div>
                    {/volist}
                </div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                       
                    </a>    
                </div>
            </div>
            <!--
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">文字组合列表</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">标题一</h4>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">标题二</h4>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                </div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>    
                </div>
            </div>
            
            -->

        </div>



        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="vendor.bundle.js"></script>
        <script type="text/javascript" src="bundle.js"></script>
        <script src="__PLUGINS__/jquery/jquery.min.js"></script>
      
    </body>
</html>