<div class="box-content">
    <form class="form-horizontal bv-form"  role="form"  id="updateForm">
        <input type="hidden" name="id" value="{$grade.id}">
        <fieldset> <div class="form-group">
            <label class="col-sm-3 control-label">年级</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="grade_name" value="{$grade.grade_name}">
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="grade_remark" value="{$grade.grade_remark}">
                </div>
            </div>
        </fieldset>
    </form>
</div>


