<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="EduWork">
    <meta name="description" content="EduWork">
    <title>EduWork学生端登录</title>
    <link rel="stylesheet" href="__WEUI__/weui.min.css">
    <style>
        .weui-cells{
            border-top:5px;

        }
        .weui-btn{
            height:35px;
            font-size:18px;
            line-height:35px;
            width:290px;
        }
        #head{
            color:red;
        }
    </style>
</head>
<body>
<div id="container">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell" id="head">
        </div>
        <p style="margin-left:18px;"><font color="gray" size="2">用户登录</font></p>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">用户名:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="username" id="username" placeholder="请输入用户名"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">密 &nbsp; 码:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" name="password" id="password" placeholder="请输入密码"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <a href="javascript:;" id="btn" class="weui-btn weui-btn_primary">登录</a>
        </div>
    </div>
    <div style="color:gray;margin:30px 0 0 30px;">
        <!--<p>测试账号1：000447,密码：000447</p>-->
        <!--<p>测试账号2：000611,密码：000611</p>-->
    </div>
</div>
<!--<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
<!--<script type="text/javascript" src="vendor.bundle.js"></script>-->
<!--<script type="text/javascript" src="bundle.js"></script>-->
<script src="__PLUGINS__/jquery/jquery.min.js"></script>
<script src="__JS__/student/loginAuth.js"></script>
</body>
</html>