<div>
<form class="form-horizontal bv-form"  role="form"  id="addForm">
    <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label">字段名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">英文名称</label>
            <div class="col-sm-5">
               <input type="text" class="form-control" name="filed" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公告类型</label>
            <div class="col-sm-5">
                <select name="type"class="SearchForm form-control"  style="width:200px;height:32px;" >
                    <option value="1">后台公告</option>
                    <option value="2">学生端公告</option>
                    <option value="3">老师端公告</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
</div>