<div>
<form class="form-horizontal bv-form"  role="form"  id="updateForm">
    <input type="hidden" id="id" name="id" value="{$salarytemp.id}">
    <fieldset>
        <legend>模板信息</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">模板名称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="salarytemp_name" value="{$salarytemp.salarytemp_name}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">基本工资</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="salarytemp_base" value="{$salarytemp.salarytemp_base}">
        </div>
    </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">岗位工资</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_pos" value="{$salarytemp.salarytemp_pos}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">通讯补贴</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_com" value="{$salarytemp.salarytemp_com}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交通补贴</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_trans" value="{$salarytemp.salarytemp_trans}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">餐补</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_food" value="{$salarytemp.salarytemp_food}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">课时费</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_classhour" value="{$salarytemp.salarytemp_classhour}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新单提成比例(%)</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="salarytemp_newbonus" value="{$salarytemp.salarytemp_newbonus}">
            </div>
        </div>

    </fieldset>
</form>
</div>


